<h1>Listing links</h1>

<table>
  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><a href="<%= link.url %>"><%= link.title %></a></td>
        <td><%= link_to 'Show', link %></td>
        <% if ( link.user == current_user && user_signed_in? ) %>
          <td><%= link_to 'Edit', edit_link_path(link) %></td>
          <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
