<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>
<h2>
  <small class="author">Submitted <%= time_ago_in_words(@link.created_at) %> by <%= @link.user.name %></small>
</h2>
<%= link_to like_link_path(@link), method: :put, class: "btn" do %>
Upvote
<%= @link.get_upvotes.size %>
<% end %>
<%= link_to dislike_link_path(@link), method: :put, class: "btn" do %>
Downvote
<%= @link.get_downvotes.size %>
<% end %>

<h3>
  <%= @link.comments.count %> Comments
</h3>

<div id="comments">
  <%= render :partial => @link.comments %>
</div>
<%= simple_form_for [@link, Comment.new] do |f| %>
<div>
  <%= f.text_area :body %>
</div>
<br>
<%= f.submit "Add Comment" %>
<% end %>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', root_path %>
